.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  width: 70vw;

  h4 {
    color: #4545b3;
    text-align: justify;
  }
  img {
    width: 35%;
    height: auto;
    border-radius: 60%;
  }
  .mini-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .contacts {
      display: grid;
      grid-template-columns: 100px 1fr;
      grid-template-rows: 50px 50px 50px 50px 50px;

      .social {
        justify-self: center;
        align-self: center;
        width: 25px;
        height: auto;
      }
      .box {
        display: flex;
        flex-direction: row;
      }
      .right {
        justify-self: center;
      }
    }
  }
}
