.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #4545b3;

  img {
    height: auto;
    width: 333px;
  }

  h4 {
    width: 80%;
    text-indent: 3em;
    text-align: justify;
  }
}
